<div class="jumbotron text-center">

	<h1> {{ 'forgotPassword.title' | translate }}</h1>
	<p>{{ message }}</p>
	<form name="forgotPasswordForm" ng-submit="forgotPassword(forgotPasswordForm)" novalidate>

	  <label for="forgot-password-email">{{ 'general.email' | translate }}:</label>
	  <input type="text" id="forgot-password-email"
	         ng-model="forgotPasswordForm.email">

	  <button type="submit">{{ 'general.send' | translate }}</button>

	</form>
	<p><a href="#login">{{ 'login.title' | translate }}</a></p>
	<p><a href="#locale/en">EN</a> <a href="#locale/es">ES</a><p>
</div>