<!-- public/views/home.html -->
<div header></div>
<div class="jumbotron text-center">
	<h1>Meta data tools</h1>

	<p>{{ user }}</p>

	<!--
	<p> Register <p>
	<form name="registerForm" ng-submit="register(registerForm)" novalidate>

	  <label for="register-username">Username:</label>
	  <input type="text" id="register-username"
	         ng-model="registerForm.username">

	  <label for="register-password">Password:</label>
	  <input type="password" id="register-password"
	         ng-model="registerForm.password">

	  <button type="submit">Register</button>

	</form>
	-->
</div>